# Dependencies have to be in sync with other packages (gcdt, glomex-credstash)

#botocore==1.5.76
configparser==3.5.0
#docopt==0.6.2
#requests==2.16.5
#whaaaaat==0.5.2

# Other dependencies
gcdt>=0.2.0  # gcdt dependency is from  plugin to gcdt
